{% extends "contatos/base.html" %}

{% block content %}
<h1>Contatos</h1>
<h2><a href="/contatos/adicionar">Adicionar</a></h2>


<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Idade</th>
        <th>Site</th>
        <th>Detalhes</th>
    </tr>

    {% for i in pessoas %}
    <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.nome }}</td>
        <td>{{i.idade}}</td>
        <td>{{i.site}}</td>
        <td><a href="{%url 'par' i.id %}">Ver Detalhes</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}