{% extends "contatos/base.html" %}
{% load extras %}
{% block title %}Detalhes{% endblock %}
{% block titulo %}Detalhes{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}{{ nome }}</li>
    {% endfor %}
</ul>
{% endif %}
<a href="{% url 'apagar' pessoa.id %}" class="btn btn-danger">Apagar</a>
<a href="{% url 'editar' pessoa.id %}" class="btn btn-info">Editar</a>
<a href="{% url 'novonum' pessoa.id %}" class="btn btn-info">Adicionar Numero</a>
<a href="{% url 'principal' %}" class="btn btn-warning">Voltar</a>

<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>{{ pessoa.id }}</th>
    </tr>

    <tr>
        <td>Nome</td>
        <td>{{ pessoa.nome }}</td>
    </tr>

    <tr>
        <td>Idade</td>
        <td>{{ pessoa.idade }}</td>
    </tr>

    <tr>
        <td>Site</td>
        <td>{{ pessoa.site }}</td>
    </tr>
    <tr>
        <td>Sexo</td>
        <td>{{ pessoa.sexo }}</td>
    </tr>

    <tr>
        <td>Data de Cadastro</td>
        <td>{{ pessoa.datacadastro|date:"d-m-Y" }}</td>
    </tr>
    <tr>
        <td>Numero</td>
        <td>
            {% for numero in pessoa.numeros.all %}
                <p>{{ numero.numero | formatar }} - {{numero.tiponum}}</p>
            {% empty %}
                <p>-</p>
            {% endfor %}
        </td>

    </tr>

</table>



{% endblock %}